
/* POST THUMBNAILS AND TITLES IN THE BLOG LIST */

.post-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.post-thumbnail {
    width: 100px;  /* Set a fixed width */
    height: 100px; /* Set a fixed height */
    object-fit: cover; /* Ensures images fill the space while keeping a good aspect ratio */
    border-radius: 8px; /* Optional: rounded corners for a modern look */
    margin-right: 10px; /* Space between image and text */
}

.post-link {
  /*font-size: 18px;*/
  /*font-weight: bold;*/
}

.post-featured-image {
  background: black;
}

.post-featured-image img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 0px;
  opacity: 0.7;
}


/* SIDEBAR OF CATEGORIES */

.blog-container {
  display: flex;
  flex-direction: row; /* Ensures sidebar is next to content */
  justify-content: space-between;
}

.blog-content {
  width: 80%; /* Adjust width to give space for sidebar */
}

.sidebar {
  width: 22%;
  max-height: 500px; /* Limit the height */
  overflow-y: auto;  /* Enable scrolling if needed */
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
