---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  <!-- Latest Blog Posts -->
  <h2>Últimos posts</h2>
  <ul class="post-list">
    {%- for post in site.posts limit:5 -%}
      <li class="post-item">
        <div class="post-thumbnail-container">
          {%- if post.image -%}
            <a href="{{ post.url | relative_url }}">
              <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" class="post-thumbnail">
            </a>
          {%- endif -%}
        </div>

        <div class="post-info">
          <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            <p>{{ post.excerpt }}</p>
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>
  
</div>
