---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
	
	<p class="rss-subscribe">Suscríbete al Blog <a href="{{ "/feed.xml" | relative_url }}">vía RSS</a></p>
	
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
	    <div class="post-thumbnail-container">
		  {%- if post.image -%}
		    <a href="{{ post.url | relative_url }}">
			  <img src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" class="post-thumbnail">
			</a>
		  {%- endif -%}
		</div>

		<div class="post-info">
		  <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
		  <h3>
		    <a class="post-link" href="{{ post.url | relative_url }}">
			  {{ post.title | escape }}
			</a>
		  </h3>
		  {%- if site.show_excerpts -%}
		    <p>{{ post.excerpt }}</p>
		  {%- endif -%}
	    </div>
	  </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
