---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>

<article class="post">
  <!-- Display Featured Image if Available -->
  {%- if page.image -%}
    <div class="post-featured-image">
      <img src="{{ page.image | relative_url }}" alt="{{ page.title | escape }}">
    </div>
  {%- endif -%}

  <!-- Title and Date -->
  <header class="post-header">
    <br>
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%Y-%m-%d" }}</p>
  </header>

  <!-- Post Content -->
  <div class="post-content">
    {{ content }}
  </div>
</article>
